@model CatRegistry.Models.Kitty.KittyDetailsViewModel


<h1>@Html.DisplayFor(model => model.KittySpeciesName)</h1>

<div>
    <h4> Your little kitty</h4>
    <hr />
    <dl class="row">
        <div class="form-group row">
            <label asp-for="KittyId" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.KittyId)
        </div>
        @foreach(var image in Model.Image)
        {
        <partial name="_Images" model="image" />
        }
        <div class="form-group row">
            <label asp-for="KittySpeciesName" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.KittySpeciesName)
        </div>

        <div class="form-group row">
            <label asp-for="KittyRegionOfOrigin" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.KittyRegionOfOrigin)
        </div>
        <div class="form-group row">
            <label asp-for="KittyDescription" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.KittyDescription)
        </div>

        <div class="form-group row">
            <label asp-for="CatFoodXPNextLevel" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.CatFoodXPNextLevel)
        </div>


    </dl>
    <a asp-action="Index" asp-controller="Kitty" class="btn btn-secondary">Back</a>
</div>


